{%- block toro_widget -%}
    {% set inline_css = 'width:'~width~';margin:'~margin~';'~printif(css, css) %}
    <div class="wg-toro wg-toro__{{ name }}{% if 'away' == options['visibility'] %} wg-toro--loaded{% endif %}{% if wg_style %} {{ wg_style }}{% endif %}"
         data-widget-name="{{ name }}"
         data-widget-options="{{ options|json_encode(16) }}"
         data-widget-visibility="{{ options['visibility'] }}"
         {% if options['auto_refresh']|default(false) %}
             data-widget-auto-refresh="{{ options['auto_refresh'] }}"
             data-widget-auto-refresh-timer="{{ options['auto_refresh_timer'] }}"
         {% endif %}
         {% if callbacks %}
             data-widget-script-callbacks="{{ callbacks|json_encode }}"
         {% endif %}
         {% if scripts %}
             data-widget-scripts="{{ scripts|json_encode }}"
         {% endif %}
         {% if styles %}
             data-widget-styles="{{ styles|json_encode }}"
         {% endif %}
         {% if wg_css %}
             style="{{ wg_css|raw }}"
         {% endif %}
    >
        {% if 'away' == options['visibility'] %}
            {% block toro_widget_title %}
                {% if options['title'] %}
                    <h4 class="wg-title-toro{% if options['title_classes'] %} {{ options['title_classes']|trim }}{% endif %}">{{ options['title'] }}</h4>
                {% endif %}
            {% endblock %}
            {% block toro_widget_content %}{% endblock %}
        {% endif %}
    </div>
{%- endblock toro_widget -%}
